/* ROOT LEVEL VARIABLES */
:root {
    /* font-size: 62.5%; */
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    --primary-color: #3A4145;
    --secondary-color: #fff8f5;
    --tertiary-color: #ded8d5;
}


/* RESPONSIVE MEDIA QUERIES */
/* Mobiles */
@media (min-width: 576px) {
    :root {
        font-size: 106.25%;
    }
}

/* Tablets */
@media (min-width: 768px) {
    :root {
        font-size: 112.5%;
    }

    #site-wrappper {
        min-height: 100svh;

        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
    }
}

/* Laptops */
@media (min-width: 1024px) {
    :root {
        font-size: 118.75%;
    }
}

/* Desktops */
@media (min-width: 1280px) {
    :root {
        font-size: 125%;
    }
}

/* Extra wide screens */
@media (min-width: 1536px) {
    :root {
        font-size: 131.25%;
    }
}

/* BEGIN MAIN SECTION */

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);

    line-height: 1.75em;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.25;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.175;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.2;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.225;
}

h6 {
    font-size: 1rem;
    line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    color: var(--color);
    font-weight: 700;
    margin-bottom: 0.5rem
}

a {
    font-family: "Open Sans", sans-serif;
}

small {
    font-size: 0.75em;
    line-height: 1rem;
}

p {
    line-height: 1.75;
    margin-bottom: 1rem;
}

ul{
    list-style-type: disc;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

ul>li{
    margin-bottom: 0.5rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

header {
    height: 256px;
    padding: 0 1rem 0 1rem;

    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--tertiary-color);
}

header>h1 {
    margin-bottom: 0;
}

nav {
    line-height: 1.5rem;
}

main {
    margin-left: 2rem;
}

article {
    margin-top: 1rem;
    width: 85%;
    max-width: 900px;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}

pre>code {
    padding: 1rem;
    font-size: 1rem;
    font-family: monospace;
    display: block;
    margin-bottom: 1.5rem;
}

footer {
    grid-row: 3;
    grid-column: 2;

    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

footer>small {
    display: block;
    line-height: 1.5rem;
    font-size: 0.6em;
}

img{
    max-width: 100%;
}

a:has(> h1) {
    text-decoration: none;
}

a>h1 {
    color: var(--primary-color);
    text-align: center;
}

.sidebar {
    font-size: 1.4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 100%;
    width: 118px;
}

.article-link {
    color: var(--primary-color);
}

.article-publish-date {
    padding-top: 0.5rem;
    display: block;
    color: var(--tertiary-color);
}
